@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Monsieur+La+Doulaise&family=Playwrite+DK+Loopet:wght@100..400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 14px;
}

body {
  font-family: 1rem;
  font-family: Lato, sans-serif;
  line-height: 1.2;
  color: #777777;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #403c34;
}

h1, h2, h3, h4, h5, h6 {
  color: #0f0f0f;
  margin: 10px 0;
}

p {
  margin-bottom: 15px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  background-color: #242424;
  color: #fff;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #898f4b;
}

.header__logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 27px 0;
}
@media (max-width: 992px) {
  .header {
    padding: 10px 0;
  }
}
.header .header__menu {
  padding-top: 20px;
}
@media (max-width: 992px) {
  .header .header__menu {
    position: absolute;
    left: -100%;
    right: auto;
    z-index: 20;
    background: rgba(137, 143, 75, 0.9176470588);
    padding: 15px;
    transition: all 0.4s linear;
  }
}
.header .header__menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 992px) {
  .header .header__menu ul {
    flex-direction: column;
  }
}
.header .header__menu ul li a {
  text-transform: uppercase;
  padding: 0 15px;
  display: block;
}
@media (max-width: 992px) {
  .header .header__menu ul li a {
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
  }
}
.header .header__menu ul li:last-child {
  margin-left: 15px;
}
@media (max-width: 992px) {
  .header .header__menu ul li:last-child {
    display: none;
  }
}
.header .header__menu ul .search {
  display: flex;
  align-items: center; /* Căn giữa icon theo chiều dọc */
  justify-content: center; /* Căn giữa icon theo chiều ngang */
}
.header .header__menu ul .search a {
  position: relative;
  top: -10px;
}
.header .header__menu ul .search a i {
  font-size: 2rem;
}
.header .header__logo {
  position: absolute;
  width: 165px;
  top: 0;
  z-index: 5;
}
@media (max-width: 992px) {
  .header .header__logo {
    position: static;
    width: 100px;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .header .header__logo img {
    min-height: 100px;
    width: auto;
  }
}
.header .header__hotline {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .header .header__hotline {
    display: none;
  }
}
.header .header__hotline .phone i {
  font-size: 2rem;
  margin-right: 10px;
  margin-left: 5px;
}
.header .header__hotline span {
  display: block;
}
.header .header__hotline span:first-child {
  font-size: 1rem;
  color: #767676;
  text-transform: uppercase;
}
.header .header__hotline span:last-child {
  font-size: 1.43rem;
  color: #898f4b;
  font-weight: bold;
}
.header .header__search-mobile {
  display: none;
}
@media (max-width: 992px) {
  .header .header__search-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .header .header__search-mobile i {
    font-size: 1.3rem;
  }
}
.header .header__menu-toggle {
  display: none;
}
@media (max-width: 992px) {
  .header .header__menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .header .header__menu-toggle label {
    border: 1px solid #898f4b;
    padding: 5px 10px;
    color: #898f4b;
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .header .hidden-desktop {
    padding-top: 36px;
  }
}
.header .header__menu-mobile input[type=checkbox] {
  display: none;
}
.header .header__menu-mobile input[type=checkbox]:checked ~ .header__menu {
  left: 0;
  right: 0;
}
@media (max-width: 992px) {
  .header .header__menu-mobile {
    order: 1;
  }
}

.footer .container .footer__logo {
  width: 150px;
}
.footer .container .footer__info--title, .footer .container .footer__subscribe .footer__subscribe--title {
  font-weight: bold;
  color: #2a2c31;
}
.footer .container .footer__subscribe .footer__subscribe--title {
  text-transform: uppercase;
}
.footer .container .footer__subscribe .footer__subscribe--item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #fff;
}
.footer .container .footer__subscribe .footer__subscribe--item i {
  font-size: 1.6rem;
  color: #3a3a3a;
}
.footer .container .footer__subscribe .footer__subscribe--item input {
  width: 100%;
  padding: 15px 15px 15px 15px;
  text-transform: uppercase;
  color: #3a3a3a;
  font-size: 0.85rem;
}
.footer .container .footer__subscribe .footer--socials ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer .container .footer__subscribe .footer--socials ul i {
  color: #2a2c31;
}
@media (max-width: 767px) {
  .footer .container .footer__subscribe {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.banner-box {
  position: relative;
}
.banner-box .banner-box__controls .banner-box__controls--prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  color: #333;
  left: 5px;
  margin-left: 24px;
}
.banner-box .banner-box__controls .banner-box__controls--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  color: #333;
  right: 5px;
  margin-right: 24px;
}
.banner-box img {
  width: 100%;
  height: auto;
  display: block;
}

.whyus-box {
  padding: 50px 0;
}
.whyus-box .container h2 {
  text-align: center;
  font-size: 2.14rem;
  color: #2c2922;
  margin-bottom: 80px;
}
.whyus-box .container .whyus-box__lists {
  margin-bottom: 40px;
}
.whyus-box .container .whyus-box__lists .whyus-box--item {
  width: 100%;
  text-align: center;
}
.whyus-box .container .whyus-box__lists .whyus-box--item .img-coffee {
  width: 70px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .whyus-box .container .whyus-box__lists .whyus-box--item {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .whyus-box .container .whyus-box__lists .whyus-box--item {
    text-align: center;
  }
  .whyus-box .container .whyus-box__lists .whyus-box--item .img-coffee {
    margin: 0 auto;
  }
}
.whyus-box .container .whyus-box__lists .whyus-box--item h3 {
  text-transform: uppercase;
  font-size: 1.14rem;
  color: #0f0f0f;
}
.whyus-box .container .whyus-box__lists .whyus-box--item .whyus-box__passage {
  width: 80%;
  text-align: justify;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .whyus-box .container .whyus-box__lists .whyus-box--item .whyus-box__passage {
    width: 39%;
    text-align: justify;
    margin: 0 auto;
  }
}
.whyus-box .container .whyus-box__button {
  text-align: center;
}
.whyus-box .container .whyus-box__button a {
  border: 2px solid rgba(121, 109, 109, 0.4588235294);
  padding: 10px 50px;
  font-size: 1.14rem;
  color: #8c877d;
  text-transform: uppercase;
}
.whyus-box .container .whyus-box__button:hover a {
  color: #324f24;
  background-color: #d6bd6b;
  border: 2px solid rgba(121, 109, 109, 0.4588235294);
}

.products-box {
  padding: 60px 0;
  background: url("../../images/products-bg.png") no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .products-box {
    background: none;
  }
}
.products-box .container h2 {
  text-align: center;
  font-size: 1.7rem;
  color: #403c34;
  font-weight: bold;
  margin-bottom: 40px;
}
.products-box .container h2 span {
  color: #898f4b;
  font-family: "Dancing Script", cursive;
  font-size: 5.1rem;
  margin: 0 10px;
}
.products-box .container .products-box__lists {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.products-box .container .products-box__lists .product-box__lists--inner .products-box--item {
  text-align: center;
}
@media (max-width: 767px) {
  .products-box .container .products-box__lists .product-box__lists--inner .products-box--item {
    width: 70%;
    margin: 0 auto;
  }
}
.products-box .container .products-box__lists .product-box__lists--inner .products-box--item .item_name {
  font-size: 2.14rem;
}
.products-box .container .products-box__lists .product-box__lists--inner .products-box--item .item_name a {
  color: #1f1f1f;
}
.products-box .container .products-box__lists .product-box__lists--inner .products-box--item .item__category {
  color: #898f4b;
  text-transform: uppercase;
}
.products-box .container .products-box__lists .product-box__lists--inner .products-box--item .item__price {
  color: #373737;
  font-size: 1.3rem;
}
@media (max-width: 767px) {
  .products-box .container .products-box__lists .products-box__lists--controls {
    display: none;
  }
}
.products-box .container .products-box__lists .products-box__lists--controls .controls__prev {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  color: #333;
  left: 0;
}
.products-box .container .products-box__lists .products-box__lists--controls .controls__next {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  color: #333;
  right: 0;
}

.location-box .location-box__image, .location-box .location-box__content {
  height: 100%;
}
.location-box .location-box__image img, .location-box .location-box__content img {
  width: 100%; /* Chiếm toàn bộ chiều rộng của phần tử cha */
  height: 100%; /* Chiếm toàn bộ chiều cao của phần tử cha */
  object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
  display: block; /* Loại bỏ khoảng trắng không mong muốn */
}
.location-box .location-box__content {
  background: #898f4b;
  color: #fff;
  padding: 160px 200px;
}
@media (max-width: 992px) {
  .location-box .location-box__content {
    padding: 25px 80px;
  }
}
.location-box .location-box__content .location-box__content--inner h2 {
  color: #fff;
  font-weight: 100;
  font-size: 3.4rem;
}
.location-box .location-box__content .location-box__content--inner p {
  font-size: 1.4rem;
  margin-top: 40px;
  line-height: 2.5rem;
}
.location-box .location-box__content .location-box__content--inner .inner-readmore a {
  color: #fff;
}
.location-box .location-box__content .location-box__content--inner .inner-readmore a span {
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 3px;
}
.location-box .location-box__content .location-box__content--inner .inner-readmore a i {
  border: 1px solid #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
  margin-left: 10px;
}
@media (max-width: 992px) {
  .location-box .location-box__content .location-box__content--inner h2 {
    color: #fff;
    font-weight: 100;
    font-size: 1.4rem;
  }
  .location-box .location-box__content .location-box__content--inner p {
    font-size: 1rem;
    margin-top: 24px;
    line-height: 2rem;
  }
  .location-box .location-box__content .location-box__content--inner .inner-readmore a {
    color: #fff;
  }
  .location-box .location-box__content .location-box__content--inner .inner-readmore a span {
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 3px;
  }
  .location-box .location-box__content .location-box__content--inner .inner-readmore a i {
    border: 1px solid #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 1.2rem;
    margin-left: 10px;
  }
}

.news-box {
  padding: 30px 0;
}
.news-box h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.news-box .news-box--item .item__category {
  color: #80765f;
  font-size: 0.92rem;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.news-box .news-box--item .item__title {
  font-size: 1.42rem;
  font-weight: bold;
}
.news-box .news-box--item p {
  color: #7f7f7f;
}

.partner-box {
  padding: 30px 0;
}
.partner-box h2 {
  text-align: center;
  font-size: 2.14rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.partner-box .partner-box__lists .partner-box--item {
  text-align: center;
}

.contact-box {
  padding: 30px 0;
}
.contact-box .contact-box__image, .contact-box .contact-box__form {
  height: 100%;
}
.contact-box .contact-box__image img, .contact-box .contact-box__form img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-box .contact-box__form {
  background: #898f4b;
  padding: 50px;
  color: #fff;
}
.contact-box .contact-box__form h2 {
  color: #fff;
  font-weight: 100;
  font-size: 2.78rem;
  margin-bottom: 20px;
}
.contact-box .contact-box__form .contact-box--item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #fff;
}
.contact-box .contact-box__form .contact-box--item i {
  font-size: 1.4rem;
  color: #3a3a3a;
}
.contact-box .contact-box__form .contact-box--item input {
  width: 100%;
  padding: 15px 15px 15px 15px;
  text-transform: uppercase;
  color: #3a3a3a;
  font-size: 0.85rem;
}
.contact-box .contact-box__form .contact-box--item input::placeholder {
  color: #3a3a3a;
}
.contact-box .contact-box__form .btn:hover {
  background: #242424;
}
.contact-box .contact-box__form .contact-box--hotline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-box .contact-box__form .contact-box--hotline .phone i {
  font-size: 2rem;
  margin-right: 10px;
  margin-left: 5px;
}
.contact-box .contact-box__form .contact-box--hotline span {
  display: block;
}
.contact-box .contact-box__form .contact-box--hotline span:first-child {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.contact-box .contact-box__form .contact-box--hotline span:last-child {
  font-size: 1.43rem;
  color: #fff;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */