$primaryColor: #898f4b; // Màu chính

$secondaryColor: #242424; // Màu phụ

$fontSize: 14px; // Font size mặc định

$textColor: #777777; // Màu chữ mặc định

$linkColor: #403c34; // Màu liên kết

$fontFamily: Lato, sans-serif; // Font chữ mặc định

$headingColor: #0f0f0f; // Màu mặc định các thẻ heading

$background: #fff; // Màu nền mặc định


