.whyus-box{
    @include section-base(50px);
    .container{
        // width: 70%;
        h2{
            text-align: center;
            font-size: 2.14rem;
            color: #2c2922;
            margin-bottom: 80px;
        }
        .whyus-box__lists{
            margin-bottom: 40px;
            .whyus-box--item{
                .img-coffee{
                    width: 70px;
                    margin: 0 auto;
                }
                width: 100%;
                text-align: center;
                @media (max-width: 992px) {
                    width: 100%;
                    text-align: center;
                }
                @media (max-width: 767px) {
                    text-align: center;
                    .img-coffee{
                        margin: 0 auto;
                    }
                }
                h3{
                    text-transform: uppercase;
                    font-size: 1.14rem;
                    color: #0f0f0f;
                }
                .whyus-box__passage{
                    width: 80%;
                    text-align: justify;     
                    margin: 0 auto;
                    @media(max-width: 767px){
                        width: 39%;
                        text-align: justify;     
                        margin: 0 auto;
                    }            
                }
            }
        }
    
        .whyus-box__button{
            text-align: center;
            a{
                border: 2px solid #796d6d75;
                padding: 10px 50px;
                font-size: 1.14rem;
                color: #8c877d;
                text-transform: uppercase;
            }
            &:hover{
                a{
                    color: #324f24;
                    background-color: #d6bd6b;
                    border: 2px solid #796d6d75;
                }
            }
        }
    }
}